body,
body * {
  vertical-align: top;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-image: url("../images/webBackground.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
  height: 100vh;
}

main {
  margin-top: 20px;
  display: grid;
  margin-left: 15%;
  margin-right: 15%;
  gap: 10px;
}

.recipe-form-con {
  background: rgba(68, 68, 74, 0.75);
  width: 100%;
  border-radius: 2rem 5rem 2rem 5rem;
}
.recipe-form-con h1 {
  text-align: center;
  padding: 10px;
  font-size: 48px;
  color: #fff;
}
.recipe-form-con .recipe-add-form {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.recipe-form-con .recipe-add-form input, .recipe-form-con .recipe-add-form textarea {
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 10px;
  background: hsla(0, 0%, 100%, 0.9);
  font-size: 20px;
  padding: 5px 10px;
}
.recipe-form-con .recipe-add-form textarea {
  resize: none;
}
.recipe-form-con .recipe-add-form input {
  height: 30px;
}
.recipe-form-con .recipe-add-form .recipe-add-form-buttons {
  display: flex;
  gap: 20px;
}
.recipe-form-con .recipe-add-form .recipe-add-form-buttons button {
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px;
  transition: all 0.5s ease-in-out;
}
.recipe-form-con .recipe-add-form .recipe-add-form-buttons button:hover {
  filter: brightness(80%);
}

.recipe-list-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}
.recipe-list-con .recipe-list-con-header {
  text-align: center;
  background: rgba(120, 120, 125, 0.9019607843);
  width: 100%;
  padding: 10px;
  font-size: 32px;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 10px;
}
.recipe-list-con .recipe-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.recipe-list-con .recipe-info-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  color: #fff;
  text-align: center;
  background: rgba(120, 120, 125, 0.9019607843);
  border-radius: 10px;
}
.recipe-list-con .recipe-info-con:focus {
  outline: 4px solid #ff0000;
}
.recipe-list-con .recipe-info-con .recipe-name {
  font-size: 30px;
  font-weight: 700;
}
.recipe-list-con .recipe-info-con .recipe-duration {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  font-style: italic;
}
.recipe-list-con .recipe-info-con .recipe-desc {
  font-size: 20px;
  font-weight: 300;
  width: 80%;
  word-break: break-all;
  font-weight: 500;
}
.recipe-list-con .recipe-info-con .recipe-desc p {
  margin-bottom: 10px;
}
.recipe-list-con .recipe-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}
.recipe-list-con .recipe-buttons button {
  padding: 10px;
  min-width: 100px;
  border-radius: 5px;
  background: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}
.recipe-list-con .recipe-buttons button:hover {
  filter: brightness(80%);
}
.recipe-list-con .recipe-buttons button:nth-child(1) {
  border: 2px solid #006400;
  background-color: #00b300;
  color: #fff;
  font-size: 20px;
}
.recipe-list-con .recipe-buttons button:nth-child(2) {
  border: 2px solid #8B0000;
  background-color: #ff3333;
  color: #fff;
  font-size: 20px;
}

.recipe-edit-con {
  display: flex;
  flex-direction: column;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container .login-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7098039216);
  padding: 3rem 4rem;
  gap: 20px;
  border-radius: 5px;
}
.login-container .login-wrapper h2 {
  font-size: 30px;
  font-weight: 700;
  color: #000;
}
.login-container .login-wrapper .login-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.login-container .login-wrapper .login-form span {
  text-align: center;
  color: #B30000;
  font-weight: 700;
  font-size: 20px;
}
.login-container .login-wrapper .login-form input {
  width: 80%;
  margin: 0 auto;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #666;
  text-align: center;
  font-size: 18px;
}
.login-container .login-wrapper .login-form .login-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 5px;
}
.login-container .login-wrapper .login-form .login-buttons button {
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.login-container .login-wrapper .login-form .login-buttons button:nth-child(1) {
  background: #007bff;
}
.login-container .login-wrapper .login-form .login-buttons button:nth-child(2) {
  background: #28a745;
}
.login-container .login-wrapper .login-form .login-buttons button:nth-child(1):hover {
  background: #0056b3;
}
.login-container .login-wrapper .login-form .login-buttons button:nth-child(2):hover {
  background: #218838;
}/*# sourceMappingURL=app.css.map */