 body,
 body * {
     vertical-align: top;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 main {
     margin-top: 20px;
     display: grid;
     margin-left: 30%;
     margin-right: 30%;
     gap:10px;
 }

 .recipe-form-con {
     background: rgba(68, 68, 74, 0.75);
     width: 100%;
    border-radius: 2rem 5rem 2rem 5rem;

     h1{
        text-align: center;
        padding: 10px;
        font-size: 48px;
        color: #fff;
     }

     .recipe-add-form {
        display:flex;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        flex-direction: column;
        gap:10px;
        padding:10px;

        input,textarea{
            font-size: 18px;
            border-radius: 10px;
            border: 1px solid black;
            padding-left: 10px;
            background: hsla(0, 0%, 100%, 0.9);
            font-size: 20px;
            padding:5px 10px;
        }
        textarea {
            resize: none;
        }

        input {
            height: 30px;
        }

        .recipe-add-form-buttons {
            display:flex;
            gap:20px;

            button {
                width: 50%;
                margin: 0 auto;
                border-radius: 5px;
                font-size: 22px;
                cursor: pointer;
                background: #000;
                color: #fff;
                border: none;
                padding: 10px;
                transition: all 0.5s ease-in-out;
            }

            button:hover{
                filter: brightness(80%);
            }
        }

     }
 }

.recipe-list-con {
    display:flex;
    flex-direction: column;
    align-items: center;
    background: #78787de6;
    border-radius: 5px;
    padding:5px;

    .recipe-list-con-header {
        text-align: center;
        border-bottom: 2px solid #999;
        width: 100%;
        padding: 10px;
        font-size: 32px;
        color:#fff;
    }

    
    .recipe-info-con {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:20px 0;
        color:#fff;

        .recipe-name {
            font-size: 30px;
            font-weight: 700;
        }
        .recipe-duration {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 15px;
            font-style: italic;
        }
  
        .recipe-desc {
            font-size: 20px;
            font-weight: 300;
            width: 80%;
            word-break: break-all;
            font-weight: 500;

            p {
                margin-bottom: 10px;
            }
        }
    }

    .recipe-buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 10px 0;
        border-bottom: 2px solid #999;

        button {
            padding: 10px;
            min-width: 100px;
            border-radius: 5px;
            background: none;
            font-size: 16px;
            cursor: pointer;
            font-weight: 600;
            transition: all 0.4s ease-in-out;
        }

        button:hover{
            filter: brightness(80%);
        }

         button:nth-child(1) {
             border: 2px solid #006400;
             background-color: #00b300;
             color: #fff;
             font-size: 20px;
         }
    
         button:nth-child(2) {
             border: 2px solid #8B0000;
             background-color: #ff3333;
             color: #fff;
             font-size: 20px;
         }
    }
}

.recipe-edit-con {
    display:flex;
    flex-direction: column;
}

.absolute-img {
    position:absolute;
    z-index: -1;
    inset:0;
    img {
        width:100%;
    }
}